@import '../../utils/variables.scss';

.chipAdderComponent {
    & > div {
      margin-top: 2rem;
    }
    .chip {
      color: $primary;
      margin-right: 0.1rem;
      margin-top: 0.1rem;
    }
    .inputContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .input {
        flex-grow: 4;
      }
    }
  }