@import '../../utils/variables.scss';

.main {
  max-width: $content-width;
  margin: 2rem auto;
}

.title {
  margin: 0 0 1rem 1rem;
}

.paper {
  padding: 1rem;
}

.notification {
  background-color: $table-bg;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2px;
}

.date,
.message {
  font-size: 1rem;
}
