@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.container {
  max-width: $content-width;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: $primary;
    text-transform: uppercase;
    color: $white;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
  }

  .actionsContainer {
    display: flex;
    align-items: center;
  }

  .csvInfo {
    padding: 0;
    margin-right: 0.5rem;
    background-color: $bg-primary;
    color: $text-primary;
  }
}

@include phone {
  .header {
    flex-direction: column;

    .search {
      width: 100%;
    }

    .actionsContainer {
      margin-top: 1rem;
    }
  }
}

.dialogContent {
  display: flex;
  flex-direction: column;
  width: 20rem;
  .textInput {
    margin-top: 1rem;
  }
}

.tableContainer {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  overflow-x: auto;
  table {
    min-width: 1000px;
    width: 100%;
    box-shadow: $shadow;
    border-collapse: collapse;
  }

  .tableHead {
    tr {
      background-color: $primary;
    }
    th {
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem 2rem;
      color: $white;
    }
    .sortableHeader {
      cursor: pointer;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .tableBody {
    tr {
      &:nth-child(even) {
        background-color: $table-bg;
      }
      &:hover {
        background-color: $table-hover-bg;
      }
      td {
        color: $text-primary;
        text-align: center;
        padding: 0.5rem 2rem;
        border-top: 1px solid $table-border;
      }
    }
  }
}
